# -------
# .config
# -------

# Explicitly include everything
home/.config/*

# Include these, no special handling needed
!home/.config/albert
!home/.config/avizo
!home/.config/dunst
!home/.config/eww
!home/.config/fontconfig
!home/.config/gtk-3.0
!home/.config/hypr
!home/.config/kitty
!home/.config/procps
!home/.config/qt5ct
!home/.config/qt6ct
!home/.config/swaync
!home/.config/albert.conf
!home/.config/batsignal
!home/.config/code-flags.conf
!home/.config/electron-flags.conf

# Exclude GitHub oauth token
!home/.config/gh
home/.config/gh/hosts.yml

# Only include VSCode user settings
!home/.config/Code - OSS
home/.config/Code - OSS/*
!home/.config/Code - OSS/User
home/.config/Code - OSS/User/*
!home/.config/Code - OSS/User/settings.json
!home/.config/Code - OSS/User/keybindings.json
!home/.config/Code - OSS/User/snippets

# -----
# $HOME
# -----
