* {
  all: unset;
}

.bar {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Noto Sans', sans-serif;
}

.workspace_entry.empty {
  color: rgba(255, 255, 255, 0.5);
}

.workspace_entry.active {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}

.battery_bar.Charging {
  color: limegreen;
  font-weight: bold;
}

.battery_bar.Low {
  color: red;
  font-weight: bold;
}

.zero {
  color: rgba(0, 0, 0, 0);
  font-size: 0;
}
