[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[user]
	email = xander.bhalla@gmail.com
	name = Alexander Bhalla
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH0T84KVAzTP5KPln+HW56BZQWYiJ1k9A6ByqNygoPs5
[commit]
	gpgsign = true
[diff]
	colorMoved = true
	algorithm = minimal
[push]
	autoSetupRemote = true
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[advice]
	statusHints = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
