[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[user]
	email = xander.bhalla@gmail.com
	name = Alexander Bhalla
	signingkey = 94E2C7BAD0F291B7
[commit]
	gpgsign = true
